@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-weight: 400;
  src: url(../Assets/Fonts/Minecraft.woff);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Minecraft";
}

.sideBar {
  background-color: black;
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* margin-left: auto; */
}

.sideBar__pickAxe {
  background: url(../Assets/Images/pickaxe.png) center center / contain
    no-repeat;
  height: 10%;
  margin-top: 2rem;
}

.sideBar__shovel {
  background: url(../Assets/Images/shovel.png) center center / contain no-repeat;
  height: 10%;
  margin-top: 2rem;
}

.sideBar__axe {
  background: url(../Assets/Images/axe.png) center center / contain no-repeat;
  height: 10%;
  margin-top: 2rem;
}

#sideBar__inventory {
  height: 5%;
  width: 50%;
  align-self: center;
  margin-top: 2rem;
  border: 1px solid gray;
}

.sideBar__resetScreen {
  font-size: 0.8rem;
  font-family: "Minecraft";
  margin-top: 2rem;
}

.landingPage {
  background: url(../Assets/Images/dirt-block.png);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.landingPage__logo {
  height: 10%;
}

.landingPage__startBtn {
  padding: 1rem;
  font-size: 3rem;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.game__playScreen {
  height: 100vh;
  width: 100vmin;
  background-color: skyblue;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.cloud {
  background: white;
}

.dirt {
  background: url(../Assets/Images/dirt-block.png) center center / cover
    no-repeat;
}

.grass {
  background: url(../Assets/Images/grass-block.png) center center / cover
    no-repeat;
}

.log {
  background: url(../Assets/Images/oak-log-block.png) center center / cover
    no-repeat;
}

.stone {
  background: url(../Assets/Images/stone-block.png) center center / cover
    no-repeat;
}

.leaves {
  background: url(../Assets/Images/leaves-block.png) center center / cover
    no-repeat;
}

.display-none {
  display: none !important;
}

.btn {
  cursor: pointer;
  /* color: white; */
  font-family: "Minecraft";
}

.active {
  background-color: blue;
}
.red {
  background-color: red;
}
